---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/yevgenko/strano/hooks
    body:
      encoding: UTF-8
      string: ! '{"name":"web","active":true,"config":{"url":"http://example.com/listener","secret":"secret","content_type":"json"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token somerandomkey
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Ratelimit-Remaining:
      - '4989'
      Etag:
      - ! '"8ae8d027cb67f2de8b24a3c571cdb05a"'
      X-Github-Media-Type:
      - github.beta
      X-Ratelimit-Limit:
      - '5000'
      Location:
      - https://api.github.com/repos/yevgenko/strano/hooks/608506
    body:
      encoding: US-ASCII
      string: ! '{"config":{"secret":"secret","url":"http://example.com/listener","content_type":"json"},"active":true,"events":["push"],"url":"https://api.github.com/repos/yevgenko/strano/hooks/608506","updated_at":"2012-12-19T16:36:45Z","test_url":"https://api.github.com/repos/yevgenko/strano/hooks/608506/test","last_response":{"status":"unused","message":null,"code":null},"name":"web","created_at":"2012-12-19T16:36:45Z","id":608506}'
  recorded_at: Wed, 19 Dec 2012 16:36:42 GMT
recorded_with: VCR 2.0.1
