---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/joelmoss/strano
    body: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token somerandomkey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      Etag:
      - ! '"a8087d8b7b8b60c8e6125ff4ffd7a9d6"'
      X-Oauth-Scopes:
      - repo, user
      X-Ratelimit-Remaining:
      - '4997'
      X-Accepted-Oauth-Scopes:
      - repo, public_repo
    body: ! "{\n  \"git_url\": \"git://github.com/joelmoss/strano.git\",\n  \"watchers\":
      1,\n  \"ssh_url\": \"git@github.com:joelmoss/strano.git\",\n  \"has_downloads\":
      true,\n  \"mirror_url\": null,\n  \"svn_url\": \"https://github.com/joelmoss/strano\",\n
      \ \"homepage\": \"\",\n  \"has_issues\": true,\n  \"clone_url\": \"https://github.com/joelmoss/strano.git\",\n
      \ \"forks\": 1,\n  \"fork\": false,\n  \"has_wiki\": true,\n  \"updated_at\":
      \"2011-12-20T02:16:45Z\",\n  \"private\": false,\n  \"size\": 312,\n  \"master_branch\":
      null,\n  \"url\": \"https://api.github.com/repos/joelmoss/strano\",\n  \"language\":
      \"Ruby\",\n  \"owner\": {\n    \"login\": \"joelmoss\",\n    \"gravatar_id\":
      \"4fe35d76373429a6bdd9326b5ebbd515\",\n    \"url\": \"https://api.github.com/users/joelmoss\",\n
      \   \"id\": 4614,\n    \"avatar_url\": \"https://secure.gravatar.com/avatar/4fe35d76373429a6bdd9326b5ebbd515?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\"\n
      \ },\n  \"name\": \"strano\",\n  \"open_issues\": 0,\n  \"id\": 2676130,\n  \"integrate_branch\":
      null,\n  \"html_url\": \"https://github.com/joelmoss/strano\",\n  \"description\":
      \"\",\n  \"pushed_at\": \"2011-12-20T02:16:45Z\",\n  \"created_at\": \"2011-10-30T17:25:33Z\"\n}"
  recorded_at: Tue, 03 Jan 2012 22:08:54 GMT
recorded_with: VCR 2.0.0.rc1
