<%- title 'Dashboard' -%>

<%- if @projects.empty? -%>
  
  <h4 align="center">You haven't created any projects yet! <%= link_to "Create a project now", new_project_path %>...</h4>
  
<% else %>

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%= render @projects %>
    </tbody>
  </table>
  
<%- end -%>