---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/keys
    body: ! '{"title":"Strano","key":"<%= Strano.public_ssh_key %>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token somerandomkey
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      Etag:
      - ! '"a834f69a6ea9ffa71e8d62ba926dc850"'
      Location:
      - https://api.github.com/user/keys/1754048
      X-Oauth-Scopes:
      - repo, user
      X-Ratelimit-Remaining:
      - '4997'
      X-Accepted-Oauth-Scopes:
      - user
    body: ! '{"key":"<%= Strano.public_ssh_key %>","title":"Strano","url":"https://api.github.com/user/keys/1754048","id":1754048}'
  recorded_at: Mon, 23 Jan 2012 21:05:01 GMT
recorded_with: VCR 2.0.0.rc1
