<%- if repos.empty? -%>
  
  <h4 align="center">No repositories found in your Github account! Strano currently only supports the deployment of Github repositories.</h4>
  
<% else %>

  <div class="row">
    
    <%- repos.in_groups(2) do |group| -%>
    
      <div class="span8">
      
        <table class="zebra-striped">
          <tbody>
            <%= render :partial => 'projects/repo', :collection => group %>
          </tbody>
        </table>
      
      </div>
    
    <%- end -%>
    
  </div>
  
<%- end -%>