<%- return if repo.nil? || Project.exists?(:url => repo.ssh_url) -%>

<tr>
  <td width="10">
    <%= form_for resource, :html => { :style => 'margin-bottom:0;' } do |f| %>
      <%= f.hidden_field :url, :value => repo.ssh_url %>
      <%= f.submit 'Create', :class => "btn primary" %>
    <%- end -%>
  </td>
  <td><h5><%= link_to repo.name, repo.html_url, :target => "_blank" %></h5></td>
</tr>