<%- return if repo.nil? || Project.exists?(:url => repo.ssh_url) -%>

<tr>
  <td width="10"><%= link_to 'Create', projects_path('project[url]' => repo.ssh_url), :class => "btn primary", :method => :post %></td>
  <td><h5><%= link_to repo.name, repo.html_url, :target => "_blank" %></h5></td>
</tr>