/* Custom CSS styling
/* ---------------------------------------------------------------------------- */

body {
  padding: 60px 0;
}
footer {
  color: #AAA;
  margin-top: 65px;
  font-size: 11px;
  
  a {
    color: #666;
  }
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}
.small {
  font-size: 0.90em;
}
.smaller {
  font-size: 0.85em;
}
.strike {
  color: #BBB;
  text-decoration: line-through;
}
.quiet {
  color: #666;
}
.quieter {
  color: #999;
}

.no-bg {
  background-color: inherit;
}

.topbar {
  .pull-right > span {
    top: 10px;
    position: relative;
  }
  #user_display_bar {
    img {
      margin: 6px 0 0 5px;
    }
    span {
      top: -10px;
      position: relative;
    }
    color: #FFF;
  }
}


.inherit-color {
  color: inherit;
}

.org-avatar {
  position: relative;
  top: 2px;
}

.bordered-bottom {
  border-bottom: 1px solid #EEE;
}

#results pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}


/* Icons
/* ---------------------------------------------------------------------------- */

.icon {
  background-image: url('/assets/jquery-ui/ui-icons_888888_256x240.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -99999px;
  overflow: hidden;
  top: 3px;
  position: relative;
  &:hover {
    background-image: url('/assets/jquery-ui/ui-icons_454545_256x240.png');
  }
}
table .icon {
  vertical-align: top;
}