/* Custom CSS styling
/* ---------------------------------------------------------------------------- */

body {
  padding: 60px 0;
}
footer {
  border-top: 1px solid #EEE;
  color: #AAA;
  margin-top: 65px;
  font-size: 11px;
  padding-top: 10px;
  
  a {
    color: #666;
  }
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}
.small {
  font-size: 0.90em;
}
.smaller {
  font-size: 0.85em;
}
.strike {
  color: #BBB;
  text-decoration: line-through;
}
.quiet {
  color: #666;
}
.quieter {
  color: #999;
}

.no-bg {
  background-color: inherit;
}

.navbar {
  #user_display_bar {
    img {
      top: 6px;
      position: relative;
    }
    color: #FFF;
  }
}


.tabs > .pull-right .label {
  position: relative;
  top: 8px;
}

.inherit-color {
  color: inherit;
}

.org-avatar {
  position: relative;
  top: 2px;
}

.bordered-bottom {
  border-bottom: 1px solid #EEE;
}

#results pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}

#slider {
  width: 200px;
  margin: 7px 0 0 5px;
}


/* ANSI color conversions
/* ---------------------------------------------------------------------------- */

#job-results {
  background-color: #000;
  color: #FFF;
  line-height: 1.8em;
  font-size: 12px;
  
  .ansible_1        { font-weight: bold; }
  .ansible_4        { text-decoration: underline; }
  .ansible_30       { color: black; }
  .ansible_31       { color: red; }
  .ansible_32       { color: limegreen; }
  .ansible_33       { color: yellow;}
  .ansible_34       { color: aqua;}
  .ansible_35       { color: magenta;}
  .ansible_36       { color: cyan;}
  .ansible_37       { color: white;}
  .ansible_90       { color: dimgray; }
  .ansible_none     { color: none; }
}


/* Icons
/* ---------------------------------------------------------------------------- */

.icon {
  background-image: url('/assets/jquery-ui/ui-icons_888888_256x240.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -99999px;
  overflow: hidden;
  top: 3px;
  position: relative;
  &:hover {
    background-image: url('/assets/jquery-ui/ui-icons_454545_256x240.png');
  }
}
table .icon {
  vertical-align: top;
}