/* Custom CSS styling
/* ---------------------------------------------------------------------------- */

body {
  padding: 60px 0;
}
footer {
  color: #AAA;
  margin-top: 65px;
  font-size: 11px;
  
  a {
    color: #666;
  }
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}
.small {
  font-size: 0.85em;
}
.strike {
  color: #BBB;
  text-decoration: line-through;
}
.quiet {
  color: #666;
}
.quieter {
  color: #BBB;
}

.topbar {
  .pull-right > span {
    top: 10px;
    position: relative;
  }
  #user_display_bar {
    img {
      margin: 6px 0 0 5px;
    }
    span {
      top: -10px;
      position: relative;
    }
    color: #FFF;
  }
}

.org-avatar {
  position: relative;
  top: 2px;
}

.bordered-bottom {
  border-bottom: 1px solid #EEE;
}

#results pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}