<div class="row">
  <div class="span3 right">
    
    <h6>Description</h6>
    <h6>Repository</h6>
    <%- if resource.organization? -%><h6>Organization</h6><%- end -%>
    
  </div>
  <div class="span13">
    
    <h5><%= resource.description %></h5>
    <h5><%= link_to resource.html_url, resource.html_url %></h5>
    <%- if resource.organization? -%>
      <h5><%= link_to resource.organization.login, "https://github.com/#{resource.organization.login}" %></h5>
    <%- end -%>
    
  </div>
</div>
