<div class="tab-pane" id="tasks">

  <%- unless @recent_tasks.empty? -%>

    <div class="page-header">
      <h4>Most recent</h4>
    </div>

    <%- @recent_tasks.each do |job| -%>
      <%= render :partial => "task", :locals => { :task => resource.cap.find_task(job.task), :hidden => false } %>
    <%- end -%>

    <div class="page-header margin-top8">
      <h4>
        <a href="#" class="inherit-color" id="toggle_other_tasks">
          Other tasks <span class="icon ui-icon-circle-triangle-s"></span><small class="margin-left10 smaller">show</small>
        </a>
      </h4>
    </div>
  
  <%- end -%>

  <div id="other_tasks" class="<%= 'hide' unless @recent_tasks.empty? %>">
    <%- resource.public_tasks.each do |task| -%>
      <%- unless resource.jobs.where(:task => task.fully_qualified_name).first -%>
        <%= render :partial => "task", :locals => { :task => task, :hidden => false } %>
      <%- end -%>
    <%- end -%>
  </div>

</div>