<div class="tab-pane" id="tasks">

  <table>
    <%- resource.tasks.each do |task| -%>
      <tr>
        <td>
          <%= link_to 'Run', new_project_jobs_path(resource, task.fully_qualified_name), :class => "btn primary" %>
        </td>
        <td>
          <h3><%= task.fully_qualified_name %></h3>
          <pre><%= task.description %></pre>
        </td>
      </tr>
    <%- end -%>
  </table>

</div>